// Geral
:root {
    --corFundo: #0F1724;
    --corFundoCard: #343434;
    --corAzulClaro: #5AA3E8;
    --degrade1: #0CA3B8;
    --degrade2: #0CA3B8;
    --corSubTitle: #aca9a9;
    --corFooter: rgba(42, 49, 85, 0.30);
}

body {
    background-color: var(--corFundo);
}

// Menu de navegação
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--corFundo);
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 120px;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;

        #nav-links {
            a {
                margin: 0 20px 0 20px;
                font-weight: 500;
            }
        }

        #nav-midias {
            a {
                img {
                    width: 60px;
                    margin-top: 10px;
                }

                img:hover {
                    scale: 1.2;
                }
            }
        }


        h1 {
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
        }

        a {
            color: #FFF;
            text-decoration: none;
            font-size: 24px;

        }

        a:hover {
            color: var(--degrade1);
        }

        span {
            color: var(--degrade1);
        }
    }

    #js-btn-menu {
        display: none;
    }

}


// Nav para mobi

.hamburger {
    padding: 0;

    &.is-active {
        .hamburger-inner {
            background-color: #FFF;

            &::before,
            &::after {
                background-color: #FFF;
            }
        }
    }
}

.hamburger-inner {
    background-color: #FFF;

    &::before,
    &::after {
        background-color: #FFF;
    }
}

aside {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: #0F1724;
    width: 100%;
    height: calc(100% - 130px);
    padding: 0;
    transform: translateY(100%);
    opacity: 0;

    ul {
        height: 80%;
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;

        #menu-burger-redes {
            display: flex;
            flex-direction: row;

            img {
                width: 50px;
            }
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 50px;

            a {
                color: #FFF;
                font-size: 28px;
                text-decoration: none;
                margin-bottom: 10px;
            }
        }
    }
}

.opened-menu {
    aside {
        transform: translateY(0%);
        opacity: 1;
    }
}

// Header
#head {
    padding-top: 140px;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
    color: #FFF;

    // Texto Esquerda
    h1 {
        font-size: 3.7vw;
        margin-bottom: 0;
    }

    p {
        font-size: 1.2vw;
        margin-top: 10px;
        color: #aca9a9;
        margin-bottom: 40px;
    }


    #head-text {
        max-width: 50%;
    }

    #header-h1 {
        background-image: linear-gradient(to right, #0CA3B8, #01DFB2 50%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
    }

    #header-btn {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 9vh;

        .header-btn2,
        .header-btn1 {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            .p-btn-header {
                font-size: 1vw;
            }

            p {
                padding: 0;
                margin: 0;
                color: #FFF;
                font-weight: 200;
            }
        }

        .header-btn1 {
            border-radius: 10px;
            border: solid var(--corAzulClaro) 1px;
            width: 17vw;
            height: calc(17vw/4.5);
            flex-shrink: 0;
            font-weight: 200;

            img {
                width: 3vw;
            }
        }

        .header-btn1:hover {
            background: linear-gradient(to left, #0CA3B8, #2E86C1)
        }

        .header-btn2 {
            margin-left: 4vw;

            img {
                margin-top: 2px;
                margin-left: 13px;
            }
        }
    }

    // Imagem direita
    #header-img {
        width: 25vw;
        border-radius: 20px;
        margin-top: 60px;
    }
}

.scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}


// Main

main {
    .section2 {
        height: 100vh;
    }

}

// Sobre

.section1 {
    min-height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10vw 0 10vw;

    .section1-esquerda.tilt-card {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 20vw;
        padding: 0 10vw 0 0;

        img {
            width: 22vw;
            height: 23vw;
        }
    }

    .section1-direita {
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;


        h1 {
            font-size: 3vw;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin: 0;
        }

        p {
            color: #aca9a9;
            font-size: 1.2vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        div {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: solid var(--corAzulClaro) 1px;
            width: 13vw;
            height: calc(17vw/4.5);

            margin-top: 29px;

            p {
                font-size: 0.9vw;
                font-weight: 200;
                color: #FFF;
            }

            img {
                width: 1.5vw;
                margin-left: 10px;
            }
        }

        div:hover {
            background: linear-gradient(to left, #0CA3B8, #2E86C1)
        }

    }
}

// Projetos

.section2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw 0 10vw;

    .section2-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #FFF;

        h1 {
            font-size: 4vw;
            margin: 0;
        }

        p {
            font-size: 1vw;
        }
    }

    .section2-cards {
        margin-top: 100px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
            display: flex;
            flex-direction: column;
            padding: 1.7vw;
            border-radius: 10px;
            width: 27%;

            color: #FFF;
            background-color: var(--corFundoCard);

            h1 {
                font-size: 1.3vw;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;
                padding: 30px 5px 10px 5px;
                flex-shrink: 0;
            }

            p {
                font-size: 0.8vw;
                color: var(--corSubTitle);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;
                padding: 10px;
            }
        }
    }
}

.section2-btn-final {
    cursor: pointer;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
    border-radius: 10px;
    border: solid var(--corAzulClaro) 1px;
    width: 12vw;
    height: calc(17vw/4.5);
    flex-shrink: 0;
    font-weight: 200;

    p {
        font-size: 1vw;
    }

    img {
        margin-left: 10px;
        width: 1vw;

    }
}

.section2-btn-final:hover {
    background: linear-gradient(to left, #0CA3B8, #2E86C1)
}

// Entre em contato

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;

    h1 {
        color: #FFF;
        font-size: 2.3vw;
    }

    div {
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: #FFF;
        border-radius: 10px;
        border: solid var(--corAzulClaro) 1px;
        width: 20vw;
        height: calc(17vw/4.5);
        flex-shrink: 0;
        font-weight: 200;

        img {
            margin-left: 10px;
            width: 1vw;

        }
    }

    div:hover {
        background: linear-gradient(to left, #0CA3B8, #2E86C1)
    }
}


// Footer

footer {
    background-color: var(--corFooter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;

    height: 200px;

    .footer-icons {
        a {
            text-decoration: none;
        }

        img {
            width: 40px;
        }

        img:hover {
            scale: 1.1;
        }
    }

    .footer-links {
        ul {
            color: #FFF;
            display: flex;
            justify-content: space-between;
            width: 20vw;

            li {
                a {
                    color: #FFF;
                    text-decoration: none;
                }

                cursor: pointer;
            }

            a:hover {
                color: var(--degrade1);
            }
        }
    }

    .footer-logo {
        cursor: pointer;

        h1 {
            color: #FFF;

            span {
                color: var(--degrade1);
            }
        }
    }
}


// Reponsividade

// Menu de navegação
@media (max-width: 1100px) {
    nav {
        #nav-midias {
            display: none;
        }

        #js-btn-menu {
            display: flex;
        }
    }

    aside {
        display: flex;
    }
}

@media (max-width: 900px) {
    #nav-links {
        display: none;
    }
}

// Header

@media (max-width: 1070px) {
    #head {
        padding-top: 0;
        margin-top: 100px;
        margin-bottom: 90px;

        h1 {
            font-size: 7.5vw;

        }

        p {
            font-size: 2.3vw;
        }

        #header-img {
            display: none;
        }

        #head-text {
            max-width: 100%;
        }


        #header-btn {
            .header-btn1 {
                .p-btn-header {
                    font-size: 1.7vw;
                }
            }

            .header-btn1 {
                border-radius: 10px;
                border: solid var(--corAzulClaro) 1px;
                width: 30vw;
                height: calc(30vw/4.5);
                flex-shrink: 0;

                img {
                    width: 5vw;
                }
            }
        }
    }
}

@media (max-width: 555px) {
    .scroll-icon {
        margin-top: 0;
    }

    #head {
        padding-top: 20px;

        #header-btn {
            margin-top: 7vh;

            .header-btn2 {
                .p-btn-header {
                    font-size: 2.5vw;
                }
            }

            .header-btn1 {
                width: 37vw;
                height: calc(40vw/4.5);
                flex-shrink: 0;

                img {
                    width: 5vw;
                }

                .p-btn-header {
                    font-size: 2.5vw;
                }
            }
        }

        h1 {
            font-size: 8.5vw;

        }

        p {
            font-size: 2.6vw;
        }


    }
}


// Sobre

@media (max-width: 1070px) {
    .section1 {
        min-height: 0;
        flex-direction: column;
        justify-content: center;

        text-align: center;

        .section1-esquerda.tilt-card {
            justify-content: center;
            align-items: center;
            display: none;


            img {
                display: none;
                width: 40vw;
                height: 42vw;
            }
        }

        .section1-direita {
            justify-content: center;
            align-items: center;
            width: 100%;

            h1 {
                padding-top: 40px;
                padding-bottom: 10px;
                font-size: 6vw;
            }

            p {
                font-size: 3vw;
            }

            div {
                margin-bottom: 100px;
                width: 35vw;
                height: calc(35vw/4);

                margin-top: 29px;

                p {
                    font-size: 2.2vw;

                }


            }



        }


    }
}

// Projetos

@media (max-width: 1070px) {
    .section2 {
        .section2-text {
            h1 {
                font-size: 8vw;
                margin: 0;
            }

            p {
                font-size: 2vw;
            }
        }

        .section2-cards {
            margin-top: 50px;
            justify-content: center;
            align-items: center;

            div {
                padding: 4vw;
                width: 65vw;

                h1 {
                    font-size: 4vw;
                    padding: 13px 5px 10px 5px;
                    
                }
    
                p {
                    font-size: 2.5vw;
                    padding: 0px 5px 10px 5px;
                }
            }
        }

        .section2-cards div:nth-child(n+2):nth-child(-n+3) {
            display: none;
        }
    }

    .section2-btn-final {
        margin-top: 100px;
    
        border-radius: 10px;
        width: 50vw;
        height: calc(50vw/4.5);
        flex-shrink: 0;
        font-weight: 200;
    
        p {
            font-size: 3vw;
        }
    
        img {
            margin-left: 10px;
            width: 3vw;
        }
    }
}

// Entre em contato

@media (max-width: 1070px){
    .section3{
        h1 {
            text-align: center;
            font-size: 8vw;
        }
        div {
            width: 40vw;
            height: calc(40vw/5);
            flex-shrink: 0;
            font-weight: 200;

            p{
                font-size: 3vw;
            }
    
            img{
                width: 2vw;
            }
        }
    }
}

// Footer

@media (max-width: 1070px){
    footer{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 280px;
        .footer-links{
            ul{
                margin-bottom: 30px;
                width: 40vw;
                padding: 0;
                
            }
        }
    }
}

@media (max-width: 570px){
    footer{
        height: 200px;
        .footer-links{
            display: none;
        }
    }
}


//
// 
// PAGINA SITES
// 
// 

.section1-Sites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10vw 0 10vw;

    .section2-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #FFF;
        margin-top: 250px;

        h1 {
            font-size: 4vw;
            margin: 0;
        }

        p {
            font-size: 1vw;
        }
    }

    .section2-cards {
        margin-top: 100px;
        margin-bottom: 200px;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;

        div {
            display: flex;
            flex-direction: column;
            padding: 1.7vw;
            border-radius: 10px;
            width: 26%;
            margin: 20px;

            color: #FFF;
            background-color: var(--corFundoCard);

            h1 {
                font-size: 1.3vw;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;
                padding: 30px 5px 10px 5px;
                flex-shrink: 0;
            }

            p {
                font-size: 0.8vw;
                color: var(--corSubTitle);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;
                padding: 10px;
            }
        }
    }
}

// Responsivo

@media (max-width: 1070px) {
    .section1-Sites {
        .section2-text {
            h1 {
                font-size: 8vw;
                margin: 0;
            }

            p {
                font-size: 2vw;
            }
        }

        .section2-cards {
            margin-top: 50px;
            justify-content: center;
            align-items: center;

            div {
                padding: 4vw;
                width: 65vw;

                h1 {
                    font-size: 4vw;
                    padding: 13px 5px 10px 5px;
                    
                }
    
                p {
                    font-size: 2.5vw;
                    padding: 0px 5px 10px 5px;
                }
            }
        }

        
    }
}



//
// 
// PAGINA SOBRE
// 
// 

.section1-Sobre {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10vw 0 10vw;
    margin-top: 250px;
    margin-bottom: 220px;

    .section1-esquerda.tilt-card {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 20vw;
        padding: 0 10vw 0 0;

        img {
            width: 22vw;
            height: 23vw;
        }
    }

    .section1-direita {
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;


        h1 {
            font-size: 3vw;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin: 0;
        }

        p {
            color: #aca9a9;
            font-size: 1.2vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        div {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: solid var(--corAzulClaro) 1px;
            width: 13vw;
            height: calc(17vw/4.5);

            margin-top: 29px;

            p {
                font-size: 1.2vw;
                font-weight: 200;
                color: #FFF;
            }

            img {
                width: 1.5vw;
                margin-left: 10px;
            }
        }

        div:hover {
            background: linear-gradient(to left, #0CA3B8, #2E86C1)
        }

    }
}

.section2-Sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    margin-bottom: 100px;

    .section2-text{
        margin-bottom: 140px;
        h1{
            background-image: linear-gradient(to right, #0CA3B8, #01DFB2 50%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: bold;
            font-size: 3vw;
            margin: 0;
        }
        p{
            font-size: 0.9vw;
        }
    }


    .card-Sobre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35vw;

        h1{
            color: #FFF;
            font-size: 3vw;
            font-weight: 500;
            margin: 0;
        }

        p:nth-child(1){
            color: #757575;
            font-weight: 400;
        }

        p:nth-child(3){
            font-weight: 4vw;
        }

        a{
            color: #5AA3E8;
            text-decoration: none;
            margin-top: 30px;
        }

        img{
            margin: 25px 0;
        }
    }

    
}

@media (max-width: 1070px) {
    .section1-Sobre {
        min-height: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        margin: 160px 0 0 0;

        .section1-esquerda.tilt-card {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 100%;
            

            img {
                
                width: 50vw;
                height: 52vw;
            }
        }

        .section1-direita {
            justify-content: center;
            align-items: center;
            width: 100%;
            

            h1 {
                padding-top: 40px;
                padding-bottom: 10px;
                font-size: 6vw;
            }

            p {
                font-size: 3vw;
            }

            div {
                margin-bottom: 100px;
                width: 35vw;
                height: calc(35vw/4);

                margin-top: 29px;

                p {
                    font-size: 2.2vw;

                }


            }



        }


    }

    .section2-Sobre{
        padding: 0 10vw;
        .section2-text{
            margin: 50px 0;
            h1{
                font-size: 8vw;
            }
            p{
                font-size: 2.5vw;
            }
        }

        .card-Sobre{
            width: 100%;

            h1{
                font-size: 7vw;
            }
            p:nth-child(1){
                font-size: 2.5vw;
                font-weight: 500;
            }
    
            p:nth-child(3){
                font-size: 3vw;
                font-weight: 300;
            }
        }
    }

    
}