@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");
body {
  background-color: #0F1724;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.8px;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

:root {
  --corFundo: #0F1724;
  --corFundoCard: #343434;
  --corAzulClaro: #5AA3E8;
  --degrade1: #0CA3B8;
  --degrade2: #0CA3B8;
  --corSubTitle: #aca9a9;
  --corFooter: rgba(42, 49, 85, 0.30);
}

body {
  background-color: var(--corFundo);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--corFundo);
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 120px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
}
nav ul #nav-links a {
  margin: 0 20px 0 20px;
  font-weight: 500;
}
nav ul #nav-midias a img {
  width: 60px;
  margin-top: 10px;
}
nav ul #nav-midias a img:hover {
  scale: 1.2;
}
nav ul h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
nav ul a {
  color: #FFF;
  text-decoration: none;
  font-size: 24px;
}
nav ul a:hover {
  color: var(--degrade1);
}
nav ul span {
  color: var(--degrade1);
}
nav #js-btn-menu {
  display: none;
}

.hamburger {
  padding: 0;
}
.hamburger.is-active .hamburger-inner {
  background-color: #FFF;
}
.hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #FFF;
}

.hamburger-inner {
  background-color: #FFF;
}
.hamburger-inner::before, .hamburger-inner::after {
  background-color: #FFF;
}

aside {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: #0F1724;
  width: 100%;
  height: calc(100% - 130px);
  padding: 0;
  transform: translateY(100%);
  opacity: 0;
}
aside ul {
  height: 80%;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
aside ul #menu-burger-redes {
  display: flex;
  flex-direction: row;
}
aside ul #menu-burger-redes img {
  width: 50px;
}
aside ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
aside ul li a {
  color: #FFF;
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 10px;
}

.opened-menu aside {
  transform: translateY(0%);
  opacity: 1;
}

#head {
  padding-top: 140px;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  align-items: center;
  color: #FFF;
}
#head h1 {
  font-size: 3.7vw;
  margin-bottom: 0;
}
#head p {
  font-size: 1.2vw;
  margin-top: 10px;
  color: #aca9a9;
  margin-bottom: 40px;
}
#head #head-text {
  max-width: 50%;
}
#head #header-h1 {
  background-image: linear-gradient(to right, #0CA3B8, #01DFB2 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
#head #header-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 9vh;
}
#head #header-btn .header-btn2,
#head #header-btn .header-btn1 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head #header-btn .header-btn2 .p-btn-header,
#head #header-btn .header-btn1 .p-btn-header {
  font-size: 1vw;
}
#head #header-btn .header-btn2 p,
#head #header-btn .header-btn1 p {
  padding: 0;
  margin: 0;
  color: #FFF;
  font-weight: 200;
}
#head #header-btn .header-btn1 {
  border-radius: 10px;
  border: solid var(--corAzulClaro) 1px;
  width: 17vw;
  height: 3.7777777778vw;
  flex-shrink: 0;
  font-weight: 200;
}
#head #header-btn .header-btn1 img {
  width: 3vw;
}
#head #header-btn .header-btn1:hover {
  background: linear-gradient(to left, #0CA3B8, #2E86C1);
}
#head #header-btn .header-btn2 {
  margin-left: 4vw;
}
#head #header-btn .header-btn2 img {
  margin-top: 2px;
  margin-left: 13px;
}
#head #header-img {
  width: 25vw;
  border-radius: 20px;
  margin-top: 60px;
}

.scroll-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

main .section2 {
  height: 100vh;
}

.section1 {
  min-height: 80vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10vw 0 10vw;
}
.section1 .section1-esquerda.tilt-card {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 20vw;
  padding: 0 10vw 0 0;
}
.section1 .section1-esquerda.tilt-card img {
  width: 22vw;
  height: 23vw;
}
.section1 .section1-direita {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.section1 .section1-direita h1 {
  font-size: 3vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.section1 .section1-direita p {
  color: #aca9a9;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section1 .section1-direita div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid var(--corAzulClaro) 1px;
  width: 13vw;
  height: 3.7777777778vw;
  margin-top: 29px;
}
.section1 .section1-direita div p {
  font-size: 0.9vw;
  font-weight: 200;
  color: #FFF;
}
.section1 .section1-direita div img {
  width: 1.5vw;
  margin-left: 10px;
}
.section1 .section1-direita div:hover {
  background: linear-gradient(to left, #0CA3B8, #2E86C1);
}

.section2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw 0 10vw;
}
.section2 .section2-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #FFF;
}
.section2 .section2-text h1 {
  font-size: 4vw;
  margin: 0;
}
.section2 .section2-text p {
  font-size: 1vw;
}
.section2 .section2-cards {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section2 .section2-cards div {
  display: flex;
  flex-direction: column;
  padding: 1.7vw;
  border-radius: 10px;
  width: 27%;
  color: #FFF;
  background-color: var(--corFundoCard);
}
.section2 .section2-cards div h1 {
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 30px 5px 10px 5px;
  flex-shrink: 0;
}
.section2 .section2-cards div p {
  font-size: 0.8vw;
  color: var(--corSubTitle);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 10px;
}

.section2-btn-final {
  cursor: pointer;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border-radius: 10px;
  border: solid var(--corAzulClaro) 1px;
  width: 12vw;
  height: 3.7777777778vw;
  flex-shrink: 0;
  font-weight: 200;
}
.section2-btn-final p {
  font-size: 1vw;
}
.section2-btn-final img {
  margin-left: 10px;
  width: 1vw;
}

.section2-btn-final:hover {
  background: linear-gradient(to left, #0CA3B8, #2E86C1);
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
}
.section3 h1 {
  color: #FFF;
  font-size: 2.3vw;
}
.section3 div {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border-radius: 10px;
  border: solid var(--corAzulClaro) 1px;
  width: 20vw;
  height: 3.7777777778vw;
  flex-shrink: 0;
  font-weight: 200;
}
.section3 div img {
  margin-left: 10px;
  width: 1vw;
}
.section3 div:hover {
  background: linear-gradient(to left, #0CA3B8, #2E86C1);
}

footer {
  background-color: var(--corFooter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  height: 200px;
}
footer .footer-icons a {
  text-decoration: none;
}
footer .footer-icons img {
  width: 40px;
}
footer .footer-icons img:hover {
  scale: 1.1;
}
footer .footer-links ul {
  color: #FFF;
  display: flex;
  justify-content: space-between;
  width: 20vw;
}
footer .footer-links ul li {
  cursor: pointer;
}
footer .footer-links ul li a {
  color: #FFF;
  text-decoration: none;
}
footer .footer-links ul a:hover {
  color: var(--degrade1);
}
footer .footer-logo {
  cursor: pointer;
}
footer .footer-logo h1 {
  color: #FFF;
}
footer .footer-logo h1 span {
  color: var(--degrade1);
}

@media (max-width: 1100px) {
  nav #nav-midias {
    display: none;
  }
  nav #js-btn-menu {
    display: flex;
  }
  aside {
    display: flex;
  }
}
@media (max-width: 900px) {
  #nav-links {
    display: none;
  }
}
@media (max-width: 1070px) {
  #head {
    padding-top: 0;
    margin-top: 100px;
    margin-bottom: 90px;
  }
  #head h1 {
    font-size: 7.5vw;
  }
  #head p {
    font-size: 2.3vw;
  }
  #head #header-img {
    display: none;
  }
  #head #head-text {
    max-width: 100%;
  }
  #head #header-btn .header-btn1 .p-btn-header {
    font-size: 1.7vw;
  }
  #head #header-btn .header-btn1 {
    border-radius: 10px;
    border: solid var(--corAzulClaro) 1px;
    width: 30vw;
    height: 6.6666666667vw;
    flex-shrink: 0;
  }
  #head #header-btn .header-btn1 img {
    width: 5vw;
  }
}
@media (max-width: 555px) {
  .scroll-icon {
    margin-top: 0;
  }
  #head {
    padding-top: 20px;
  }
  #head #header-btn {
    margin-top: 7vh;
  }
  #head #header-btn .header-btn2 .p-btn-header {
    font-size: 2.5vw;
  }
  #head #header-btn .header-btn1 {
    width: 37vw;
    height: 8.8888888889vw;
    flex-shrink: 0;
  }
  #head #header-btn .header-btn1 img {
    width: 5vw;
  }
  #head #header-btn .header-btn1 .p-btn-header {
    font-size: 2.5vw;
  }
  #head h1 {
    font-size: 8.5vw;
  }
  #head p {
    font-size: 2.6vw;
  }
}
@media (max-width: 1070px) {
  .section1 {
    min-height: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .section1 .section1-esquerda.tilt-card {
    justify-content: center;
    align-items: center;
    display: none;
  }
  .section1 .section1-esquerda.tilt-card img {
    display: none;
    width: 40vw;
    height: 42vw;
  }
  .section1 .section1-direita {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section1 .section1-direita h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 6vw;
  }
  .section1 .section1-direita p {
    font-size: 3vw;
  }
  .section1 .section1-direita div {
    margin-bottom: 100px;
    width: 35vw;
    height: 8.75vw;
    margin-top: 29px;
  }
  .section1 .section1-direita div p {
    font-size: 2.2vw;
  }
}
@media (max-width: 1070px) {
  .section2 .section2-text h1 {
    font-size: 8vw;
    margin: 0;
  }
  .section2 .section2-text p {
    font-size: 2vw;
  }
  .section2 .section2-cards {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .section2 .section2-cards div {
    padding: 4vw;
    width: 65vw;
  }
  .section2 .section2-cards div h1 {
    font-size: 4vw;
    padding: 13px 5px 10px 5px;
  }
  .section2 .section2-cards div p {
    font-size: 2.5vw;
    padding: 0px 5px 10px 5px;
  }
  .section2 .section2-cards div:nth-child(n+2):nth-child(-n+3) {
    display: none;
  }
  .section2-btn-final {
    margin-top: 100px;
    border-radius: 10px;
    width: 50vw;
    height: 11.1111111111vw;
    flex-shrink: 0;
    font-weight: 200;
  }
  .section2-btn-final p {
    font-size: 3vw;
  }
  .section2-btn-final img {
    margin-left: 10px;
    width: 3vw;
  }
}
@media (max-width: 1070px) {
  .section3 h1 {
    text-align: center;
    font-size: 8vw;
  }
  .section3 div {
    width: 40vw;
    height: 8vw;
    flex-shrink: 0;
    font-weight: 200;
  }
  .section3 div p {
    font-size: 3vw;
  }
  .section3 div img {
    width: 2vw;
  }
}
@media (max-width: 1070px) {
  footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 280px;
  }
  footer .footer-links ul {
    margin-bottom: 30px;
    width: 40vw;
    padding: 0;
  }
}
@media (max-width: 570px) {
  footer {
    height: 200px;
  }
  footer .footer-links {
    display: none;
  }
}
.section1-Sites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10vw 0 10vw;
}
.section1-Sites .section2-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #FFF;
  margin-top: 250px;
}
.section1-Sites .section2-text h1 {
  font-size: 4vw;
  margin: 0;
}
.section1-Sites .section2-text p {
  font-size: 1vw;
}
.section1-Sites .section2-cards {
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.section1-Sites .section2-cards div {
  display: flex;
  flex-direction: column;
  padding: 1.7vw;
  border-radius: 10px;
  width: 26%;
  margin: 20px;
  color: #FFF;
  background-color: var(--corFundoCard);
}
.section1-Sites .section2-cards div h1 {
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 30px 5px 10px 5px;
  flex-shrink: 0;
}
.section1-Sites .section2-cards div p {
  font-size: 0.8vw;
  color: var(--corSubTitle);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 10px;
}

@media (max-width: 1070px) {
  .section1-Sites .section2-text h1 {
    font-size: 8vw;
    margin: 0;
  }
  .section1-Sites .section2-text p {
    font-size: 2vw;
  }
  .section1-Sites .section2-cards {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .section1-Sites .section2-cards div {
    padding: 4vw;
    width: 65vw;
  }
  .section1-Sites .section2-cards div h1 {
    font-size: 4vw;
    padding: 13px 5px 10px 5px;
  }
  .section1-Sites .section2-cards div p {
    font-size: 2.5vw;
    padding: 0px 5px 10px 5px;
  }
}
.section1-Sobre {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10vw 0 10vw;
  margin-top: 250px;
  margin-bottom: 220px;
}
.section1-Sobre .section1-esquerda.tilt-card {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 20vw;
  padding: 0 10vw 0 0;
}
.section1-Sobre .section1-esquerda.tilt-card img {
  width: 22vw;
  height: 23vw;
}
.section1-Sobre .section1-direita {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.section1-Sobre .section1-direita h1 {
  font-size: 3vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.section1-Sobre .section1-direita p {
  color: #aca9a9;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section1-Sobre .section1-direita div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid var(--corAzulClaro) 1px;
  width: 13vw;
  height: 3.7777777778vw;
  margin-top: 29px;
}
.section1-Sobre .section1-direita div p {
  font-size: 1.2vw;
  font-weight: 200;
  color: #FFF;
}
.section1-Sobre .section1-direita div img {
  width: 1.5vw;
  margin-left: 10px;
}
.section1-Sobre .section1-direita div:hover {
  background: linear-gradient(to left, #0CA3B8, #2E86C1);
}

.section2-Sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  margin-bottom: 100px;
}
.section2-Sobre .section2-text {
  margin-bottom: 140px;
}
.section2-Sobre .section2-text h1 {
  background-image: linear-gradient(to right, #0CA3B8, #01DFB2 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 3vw;
  margin: 0;
}
.section2-Sobre .section2-text p {
  font-size: 0.9vw;
}
.section2-Sobre .card-Sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
}
.section2-Sobre .card-Sobre h1 {
  color: #FFF;
  font-size: 3vw;
  font-weight: 500;
  margin: 0;
}
.section2-Sobre .card-Sobre p:nth-child(1) {
  color: #757575;
  font-weight: 400;
}
.section2-Sobre .card-Sobre p:nth-child(3) {
  font-weight: 4vw;
}
.section2-Sobre .card-Sobre a {
  color: #5AA3E8;
  text-decoration: none;
  margin-top: 30px;
}
.section2-Sobre .card-Sobre img {
  margin: 25px 0;
}

@media (max-width: 1070px) {
  .section1-Sobre {
    min-height: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 160px 0 0 0;
  }
  .section1-Sobre .section1-esquerda.tilt-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .section1-Sobre .section1-esquerda.tilt-card img {
    width: 50vw;
    height: 52vw;
  }
  .section1-Sobre .section1-direita {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section1-Sobre .section1-direita h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 6vw;
  }
  .section1-Sobre .section1-direita p {
    font-size: 3vw;
  }
  .section1-Sobre .section1-direita div {
    margin-bottom: 100px;
    width: 35vw;
    height: 8.75vw;
    margin-top: 29px;
  }
  .section1-Sobre .section1-direita div p {
    font-size: 2.2vw;
  }
  .section2-Sobre {
    padding: 0 10vw;
  }
  .section2-Sobre .section2-text {
    margin: 50px 0;
  }
  .section2-Sobre .section2-text h1 {
    font-size: 8vw;
  }
  .section2-Sobre .section2-text p {
    font-size: 2.5vw;
  }
  .section2-Sobre .card-Sobre {
    width: 100%;
  }
  .section2-Sobre .card-Sobre h1 {
    font-size: 7vw;
  }
  .section2-Sobre .card-Sobre p:nth-child(1) {
    font-size: 2.5vw;
    font-weight: 500;
  }
  .section2-Sobre .card-Sobre p:nth-child(3) {
    font-size: 3vw;
    font-weight: 300;
  }
}/*# sourceMappingURL=main.css.map */